
.container {
  max-width: 1420px;
  margin: 0 auto;
  background-color: #E57AE6;  /*pink color*/
  height: 100px;
}
.main-logo {
  max-height: 50px;
}

header {
  height: 100px;
  width: 100%;
  /*border: 1px solid blue;*/
  margin-bottom: 25px;
  color: #B1B1B1;
  font-size: 20px;
}

.menu-text ul li a {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  list-style-type: none;
}

.menu-text ul li:first-child {
  margin-left: 0;
}

footer {
 height: 50px;
 width: 100%;
 /*border: 1px solid blue;*/
}

.first-content {
  height: 300px;
  width: 100%;
  background-color: #E1D67A; /* yellow*/
  /*border: 1px solid green;*/
  margin-bottom: 25px;
}

main {
  height: 500px;
  width: 100%;
  /*border: 1px solid green;*/
  background-color: #0186FD; /* blue*/
  margin-bottom: 10px;
}

.top-main-block {
  height: 70px;
  width: 100%;
  background-color: #ABCFE8; /* cyan*/
  margin-bottom: 30px;
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

.col-1 {
  float: left;
  width: 18%;
  background-color: #ABCFE8; /* cyan*/
  margin-right: 2%;
  height: 370px;
}

.col-2 {
  float: left;
  width: 60%;
  background-color: #ABCFE8; /* cyan*/
  height: 370px;
}

.col-3 {
  float: left;
  width: 18%;
  background-color: #ABCFE8; /* cyan*/
  margin-left: 2%;
  height: 370px;
}

.last-content {
  height: 50px;
  width: 100%;
  background-color: #8901FF;  /*purple color*/
  /*border: 1px solid green;*/
  margin-bottom: 50px;
